.container {
    margin: 0 auto;
    width: 100%;
    // width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    
    @include mobile {
            max-width: 480px;
        }
    
        @include tablet {
            max-width: 768px;
        }
    
        @include desktop {
            max-width: 1200px;
        }
}