.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

body {
    background-color: #1e1e1e;
    color: #444343;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.7;
}